.favorite-page{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-image: url(../../../assets/img/clouds-background.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    color: aliceblue;
    text-shadow: 1px 1px 1px black;
}